body {
    font-family: "Outfit", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(var(--color-foreground)) !important;
}

@media screen and (min-width: 750px) {
    body {
        font-size: 1.8em !important;
    }
}

.media {
    background-color: transparent !important;
}

/* Main Nav */
@media screen and (min-width: 990px) {
    .header--middle-left {
        grid-template-columns: 1fr auto !important;
    }
}

.list-menu__item {
    font-weight: bolder;
    color: rgb(var(--color-foreground));
}


a.button {
    /*height: 70px;
    font-size: 18px;*/
    font-weight: 600;
    outline: 0;
    box-shadow: none;
    border: 0;
    --border-opacity: 0 !important;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

a.button:hover {
    opacity: .75;
}

a.button:before,
a.button:after {
    opacity: 0;
}

a.button-light {
    background-color: rgb(var(--color-background));
    color: rgba(var(--color-foreground), 1)
}

.button-custom-wrapper .button {
    width: 100%;
}

.button-custom-wrapper .button {
    max-width: 300px;
}


/** Product List */

/* flip image hover
.card.card--standard.card--media {
    --ratio-percent: none !important;
}
.card__media .media img {
    transform: scale(0.75) !important;
    transition: all .25s ease-in-out !important;
    object-fit: none !important;
}
.card__media .media:hover img {
    transform: scale(0.8) !important;
    transition: all .25s ease-in-out !important;
}
.card-wrapper:hover .media.media--hover-effect>img:first-child:not(:only-child) {
    opacity: 1 !important;
    transform: scale(0.8) !important;
}
.card-wrapper:hover .media.media--hover-effect>img+img {
    opacity: 0 !important;
    display: none !important;
}
*/
.card-wrapper {
    height: auto;
}

.card--card.card--media>.card__content {
    flex-grow: 0;
    height: auto;
}

.card--card.card--media>.card__inner {
    width: 100%;
    height: auto;
}

.card--card .card__inner .card__media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__media .media--transparent {
    overflow: visible !important;
}

.card--card .card__inner .card__media .media {
    max-width: 100%;
}

.card--card .card__inner .card__media .media img {
    transition: all .3s ease-in-out !important;
}

.card--card.card--media>.card__content .card__information {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: baseline;
    text-align: center;*/
    padding-top: 0;
    padding-bottom: 35px;
}

.card--card.card--media>.card__content .card__information a {
    font-size: 1.5em;
}

.card--card.card--media>.card__content .card .card-information {
    /*display: none;*/
}

.card--card.card--media>.card__content .card__heading {
    margin-top: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.card--card.card--media>.card__content .card-information>.price {
    display: none;
}

.card--card.card--media>.card__content .quick-add__submit {
    color: rgba(var(--color-foreground), 1) !important;
}

.card--card.card--media>.card__content .quick-add__submit:after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-foreground), var(--border-opacity)), 0 0 0 var(--buttons-border-width) rgba(var(--color-foreground), var(--alpha-button-background)) !important;
}

/** Single Product **/
product-info {
    margin-bottom: 70px;
}

@media screen and (min-width: 750px) {
    .product__media-wrapper .grid {
        column-gap: 30px;
        row-gap: 30px;
    }

    .product--stacked .product__media-item {
        width: 30px;
    }
}

@media screen and (min-width: 990px) {
    .product__media-item:not(:first-child) {
        max-width: calc(50% - 15px) !important;
    }
}

.slider__slide {
    background-color: #f3f3f3;
}

.slider__slide .product-media-container {
    --ratio-percent: 100%;
    object-fit: fill;
    width: 100%;
    height: auto;
    width: 400px;
    background: transparent;
}

.product-media-container.constrain-height.media-fit-contain {
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 750px) {
    .product-media-container.constrain-height {
        --viewport-offset: 100vh !important;
        --constrained-min-height: 100vh !important;
    }
}

.media>*:not(.zoom):not(.deferred-media__poster-button),
.media model-viewer {
    height: auto;
}

.media>*:not(.zoom):not(.deferred-media__poster-button),
.media model-viewer {
    object-fit: contain;
}

/* 
.product-form__quantity {
    display: flex; 
    align-items: center;
}
*/
.product-form__quantity label.quantity__label {
    margin-bottom: 15px;
    font-size: 1em;
    font-weight: bold;
}

.product-form__quantity .price-per-item__container,
.product-form__quantity quantity-input.quantity {
    width: 100%;
}


/* Custom Filter */
.facet-checkbox>svg,
.facet-checkbox>.svg-wrapper {
    margin-right: 1.2rem;
    width: 20px !important;
    height: 20px !important;
}

.facet-checkbox .svg-wrapper {
    visibility: hidden;
    margin: 0 !important;
    position: absolute;
    left: 0 !important;
    z-index: 5;
    top: 0 !important;
    width: 25px !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    right: 0;
    /*transform: translateX(20px);*/
}

.facet-checkbox>input[type='checkbox']:checked~.svg-wrapper>.icon-checkmark {
    color: #ff5a02;
}

.facets__heading,
.facets__summary,
.facet-checkbox {
    color: rgba(var(--color-foreground), 1);
}

/* Horizontal Filter */
.facets__form-horizontal {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.facets__form-horizontal .facets__heading {
    flex: 100%;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

.facets__form-horizontal .facets__wrapper {
    position: relative;
    align-items: baseline;
    width: 100%;
}

.facets__form-horizontal #Details-filter\.p\.m\.custom\.phido_category-template--18203938750695__product-grid {
    flex: 100%;
    order: -1;
}

.facets__form-horizontal .active-facets {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.facets__form-horizontal .product-sorting {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 30px;
    flex-wrap: wrap;
}

.facets__form-horizontal span.facets__summary-label,
.facets__form-horizontal summary>div>span {
    color: rgba(var(--color-foreground), 1);
    font-weight: bold;
    font-size: large;
}

.facets__summary .icon-caret {
    display: none;
}

.facets__form-horizontal .facets__header,
.facets__form-horizontal .facets__list {
    padding-left: 0;
    padding-right: 0;
}

.facets__form-horizontal #Details-filter\.p\.m\.custom\.phido_category-template--18203938750695__product-grid ul {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    padding: 15px 0;
}

.facets__form-horizontal #Details-filter\.p\.m\.custom\.phido_category-template--18203938750695__product-grid ul svg {
    display: none;
}

.facets__form-horizontal #Details-filter\.p\.m\.custom\.phido_category-template--18203938750695__product-grid ul .facets__label {
    padding: 1rem 2rem;
    transition: all .25s ease-in-out;
}

.facets__form-horizontal #Details-filter\.p\.m\.custom\.phido_category-template--18203938750695__product-grid ul span.facet-checkbox__text-label {
    text-decoration: none !important;
}

.facets__form-horizontal #Details-filter\.p\.m\.custom\.phido_category-template--18203938750695__product-grid ul .facets__label {
    color: rgba(var(--color-foreground), 1);
    background-color: rgb(var(--color-background));
    border: 1px solid rgba(var(--color-foreground), 1);
}

.facets__form-horizontal #Details-filter\.p\.m\.custom\.phido_category-template--18203938750695__product-grid ul .facets__label:hover,
.facets__form-horizontal #Details-filter\.p\.m\.custom\.phido_category-template--18203938750695__product-grid ul .facets__label.active,
.facets__form-horizontal #Details-filter\.p\.m\.custom\.phido_category-template--18203938750695__product-grid ul .facets__label:has(:focus-visible) {
    color: rgb(var(--color-background)) !important;
    background-color: rgba(var(--color-foreground), 1);
    border: 1px solid rgba(var(--color-foreground), 1);
}

.facets__form-horizontal .facets__disclosure {
    margin: 0 0 3rem 0;
}

.facets__form-horizontal .facets__disclosure[open] .facets__display,
.facets__form-horizontal .facets__disclosure .facets__display {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    max-height: none;
    height: auto;
}

.disclosure-has-popup[open]>.facets__summary::before {
    pointer-events: none;
}

/*
.disclosure-has-popup[open] > summary::before {

}
*/
span.active-facets__button-inner {
    background-color: rgba(var(--color-foreground), 0.1);
    border: 0;
    box-shadow: none !important;
}

@media screen and (min-width: 1024px) {
    .facets__form-horizontal {
        flex-direction: column;
    }

    .facets__form-horizontal .facets__display .facets__list {
        flex-direction: row;
    }

    .facets__form-horizontal .facets__disclosure {
        flex: 30.33%;
    }

    .facets__form-horizontal .facets__wrapper {
        gap: 3%;
    }
}

@media screen and (min-width: 750px) and (max-width: 1023px) {
    .facets__form-horizontal {
        flex-direction: row;
    }

    .facets__form-horizontal .facets__display .facets__list {
        flex-direction: row;
    }

    .facets__form-horizontal .facets__disclosure {
        flex: 48%;
    }

    .facets__form-horizontal .facets__wrapper {
        gap: 4%;
    }
}

@media screen and (max-width: 749px) {
    .facets__form-horizontal .facets__disclosure {
        flex: 100%;
    }

    .facets__form-horizontal .facets__wrapper {
        gap: 0;
    }
}

/* Pagination */
.pagination .pagination__list a.link {
    font-size: 2rem;
}

.pagination .pagination__list .icon-caret {
    height: 0.55em;
}

.pagination .pagination__list .svg-wrapper {
    width: 40px;
    height: 40px;
}